@use './pages/room.scss';
@use './pages/categories.scss';

@use './components/_user-forms.scss';
@use './components/chat.scss';
@use './components/message.scss';

html {
   box-sizing: border-box;
}

li {
   list-style: none;
}

.global-header {
   position: relative;
   block-size: 0;

   & > * {
      position: absolute;
      top: 5px;
   }
   & > *:first-child {
      left: 5px;
   }
   & > *:last-child {
      right: 5px;
   }
}