.user-form-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      inline-size: 36rem;
      padding: 2em;
      border: 1px solid #ccc;
      border-radius: 10px;
   }

   .user-form-container > h1 {
      font-size: 2.2rem;
      text-transform: uppercase;
      text-align: center;
      margin-block: 0.2em 1em;
   }

   .user-form-container .form-field {
      margin-block-end: 1em
   }

   .user-form-container button[type="submit"] {
      inline-size: 100%;
      text-transform: uppercase;
   }
